/* body{
    background-color: black;
} */

h1{
    text-align: center;
}

#p1{
    text-align: center;
}

h2{
    margin-left: 200px ;
    margin-right: 200px;
}

#p2{
    margin-left: 200px ;
    margin-right: 200px;
}